@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: auto;
}

body.dark{
    background-color: #1f1f1f;
    color:white;
  }

  #left.dark{
   width: 700px;
   margin: 20px auto;
    
  }
  
  #expense-div.light{
      
    margin: 15px auto;
    /* padding: 10px; */
    width: 700px;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
  }
  
  #expense-div.dark{
    margin: 15px 20px;
    width: 95%;
    background: #474747;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
  }
  
  
  #expense-div .list{
    padding: 10px 0;
    border-bottom: 2px solid #adadad;
    margin: 10px 30px;
  }

  .list{
    padding: 15px;
  }

  .expense-info{
    width:75%;
    display: inline-block;
    padding: 10px;
}

.bottom{
    padding: 20px;
    width: 100%;
    bottom: 0px;
    text-align: center;
    margin-top: 50px;
    background-color: rgba(0,0,0,0.05);
  }